[Unit]
Description=Clover2 First Boot Script
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /root/clover2_firstboot.sh
RemainAfterExit=no
User=root
Group=root
StandardOutput=append:/var/log/clover2/firstboot.log
StandardError=append:/var/log/clover2/firstboot.log

[Install]
WantedBy=multi-user.target
