<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!--
    Универсальный мотор/ротор для gz-sim (MulticopterMotorModel).
    mesh — полный URI для атрибута mesh filename (package://.../файл).
    Короткая форма: motor_from_package с mesh_package и mesh_file.
  -->
  <xacro:macro
    name="motor"
    params="
      parent
      motor_number
      mass_rotor
      radius_rotor
      mesh
      mesh_scale:='1 1 1'
      name_prefix:=''
      direction:=cw
      motor_constant:=8.54858e-06
      moment_constant:=0.016
      time_constant_up:=0.0125
      time_constant_down:=0.025
      max_rot_velocity:=1000.0
      command_sub_topic:=command/motor_speed
      rotor_drag_coefficient:=8.06428e-05
      rolling_moment_coefficient:=1e-06
      rotor_velocity_slowdown_sim:=10
      motor_type:=velocity
      collision_length:=0.005
      visual_xyz:='0 0 0'
      visual_rpy:='0 0 0'
      inertial_xyz:='0 0 0'
      inertial_rpy:='0 0 0'
      joint_type:=continuous
      *origin
      *inertia
    "
  >
    <xacro:property name="motor_link" value="${name_prefix}rotor_${motor_number}" />
    <xacro:property name="motor_joint" value="${name_prefix}rotor_${motor_number}_joint" />

    <joint name="${motor_joint}" type="${joint_type}">
      <xacro:insert_block name="origin" />
      <axis xyz="0 0 1" />
      <parent link="${parent}" />
      <child link="${motor_link}" />
      <xacro:if value="${joint_type == 'revolute'}">
        <limit effort="0" velocity="1000" lower="-1e+16" upper="1e+16" />
      </xacro:if>
    </joint>

    <link name="${motor_link}">
      <inertial>
        <origin xyz="${inertial_xyz}" rpy="${inertial_rpy}" />
        <mass value="${mass_rotor}" />
        <xacro:insert_block name="inertia" />
      </inertial>
      <visual>
        <origin xyz="${visual_xyz}" rpy="${visual_rpy}" />
        <geometry>
          <mesh filename="${mesh}" scale="${mesh_scale}" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder length="${collision_length}" radius="${radius_rotor}" />
        </geometry>
      </collision>
    </link>

    <gazebo reference="${motor_link}">
      <plugin filename="gz-sim-multicopter-motor-model-system" name="gz::sim::systems::MulticopterMotorModel">
        <jointName>${motor_joint}</jointName>
        <linkName>${motor_link}</linkName>
        <turningDirection>${direction}</turningDirection>
        <timeConstantUp>${time_constant_up}</timeConstantUp>
        <timeConstantDown>${time_constant_down}</timeConstantDown>
        <maxRotVelocity>${max_rot_velocity}</maxRotVelocity>
        <motorConstant>${motor_constant}</motorConstant>
        <momentConstant>${moment_constant}</momentConstant>
        <commandSubTopic>${command_sub_topic}</commandSubTopic>
        <motorNumber>${motor_number}</motorNumber>
        <rotorDragCoefficient>${rotor_drag_coefficient}</rotorDragCoefficient>
        <rollingMomentCoefficient>${rolling_moment_coefficient}</rollingMomentCoefficient>
        <rotorVelocitySlowdownSim>${rotor_velocity_slowdown_sim}</rotorVelocitySlowdownSim>
        <motorType>${motor_type}</motorType>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:macro
    name="motor_from_package"
    params="
      parent
      motor_number
      mass_rotor
      radius_rotor
      mesh_package
      mesh_file
      mesh_scale:='1 1 1'
      name_prefix:=''
      direction:=cw
      motor_constant:=8.54858e-06
      moment_constant:=0.016
      time_constant_up:=0.0125
      time_constant_down:=0.025
      max_rot_velocity:=1000.0
      command_sub_topic:=command/motor_speed
      rotor_drag_coefficient:=8.06428e-05
      rolling_moment_coefficient:=1e-06
      rotor_velocity_slowdown_sim:=10
      motor_type:=velocity
      collision_length:=0.005
      visual_xyz:='0 0 0'
      visual_rpy:='0 0 0'
      inertial_xyz:='0 0 0'
      inertial_rpy:='0 0 0'
      joint_type:=continuous
      *origin
      *inertia
    "
  >
    <xacro:motor
      parent="${parent}"
      motor_number="${motor_number}"
      mass_rotor="${mass_rotor}"
      radius_rotor="${radius_rotor}"
      mesh="package://${mesh_package}/${mesh_file}"
      mesh_scale="${mesh_scale}"
      name_prefix="${name_prefix}"
      direction="${direction}"
      motor_constant="${motor_constant}"
      moment_constant="${moment_constant}"
      time_constant_up="${time_constant_up}"
      time_constant_down="${time_constant_down}"
      max_rot_velocity="${max_rot_velocity}"
      command_sub_topic="${command_sub_topic}"
      rotor_drag_coefficient="${rotor_drag_coefficient}"
      rolling_moment_coefficient="${rolling_moment_coefficient}"
      rotor_velocity_slowdown_sim="${rotor_velocity_slowdown_sim}"
      motor_type="${motor_type}"
      collision_length="${collision_length}"
      visual_xyz="${visual_xyz}"
      visual_rpy="${visual_rpy}"
      inertial_xyz="${inertial_xyz}"
      inertial_rpy="${inertial_rpy}"
      joint_type="${joint_type}">
      <xacro:insert_block name="origin" />
      <xacro:insert_block name="inertia" />
    </xacro:motor>
  </xacro:macro>
</robot>
