<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="../common/geometry.xacro"/>
  <!-- Body link: X forward, Y left, Z up. *_link is the optical frame
       (Z forward, X right, Y down), preserving the camera driver interface. -->
  <xacro:macro name="description_camera" params="name parent xyz rpy include_visual:=true include_physics:=true">
    <xacro:property name="physics" value="${component_physics['camera']}"/>
    <link name="${name}_body_link">
      <xacro:if value="${include_physics}">
        <xacro:physical_box physics="${physics}"/>
      </xacro:if>
      <xacro:if value="${include_visual}">
        <visual>
          <geometry>
            <mesh filename="package://clover2_description/meshes/modules/camera.dae"/>
          </geometry>
        </visual>
      </xacro:if>
    </link>
    <xacro:mount name="${name}_mount_joint" parent="${parent}" child="${name}_body_link"
      xyz="${xyz}" rpy="${rpy}"/>
    <link name="${name}_link"/>
    <xacro:mount name="${name}_optical_joint" parent="${name}_body_link" child="${name}_link"
      xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
  </xacro:macro>
</robot>
