<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Body link: X forward, Y left, Z up. *_link is the optical frame
       (Z forward, X right, Y down), preserving the camera driver interface. -->
  <xacro:macro name="description_camera" params="name parent config">
    <link name="${name}_body_link">
      <xacro:if value="${config.get('mesh', '') != ''}">
        <visual>
          <geometry>
            <mesh filename="package://clover2_description/meshes/${config['mesh']}"/>
          </geometry>
        </visual>
      </xacro:if>
    </link>
    <xacro:mount name="${name}_mount_joint" parent="${parent}" child="${name}_body_link"
      xyz="${config['xyz']}" rpy="${config['rpy']}"/>
    <link name="${name}_link"/>
    <xacro:mount name="${name}_optical_joint" parent="${name}_body_link" child="${name}_link"
      xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
  </xacro:macro>
</robot>
