<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="description_led_strip" params="parent config name:='led_strip_link'">
    <xacro:mesh_link name="${name}" mesh="modules/led_strip.dae"/>
    <xacro:mount name="${name}_joint" parent="${parent}" child="${name}"
      xyz="${config['xyz']}" rpy="${config['rpy']}"/>
  </xacro:macro>
</robot>
