[Unit]
Description=Clover2 ROS Service
After=network.target

[Service]
Type=simple
User=pi
EnvironmentFile=/opt/clover2/.ros2.env
WorkingDirectory=/opt/clover2/ws
ExecStart=/opt/clover2/ros2_launch.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
