<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="../common/geometry.xacro"/>
  <xacro:macro name="klever5_propeller" params="name parent propeller xyz rpy">
    <xacro:property name="physics" value="${dict(mass=propeller['mass'], inertia_size=propeller['inertia_size'], com=propeller['com'], collision_size=propeller['collision_size'], collision_xyz=propeller['collision_xyz'])}"/>
    <xacro:mesh_link name="${name}_link" mesh="${propeller['mesh']}" physics="${physics}"/>
    <xacro:mount name="${name}_joint" parent="${parent}" child="${name}_link" xyz="${xyz}" rpy="${rpy}"/>
  </xacro:macro>
  <xacro:macro name="klever5_propellers" params="propeller rotors parent:=base_link prefix:=''">
    <xacro:klever5_propeller propeller="${propeller}" parent="${parent}" name="${prefix}propeller_front_left" xyz="${rotors['front_left']['xyz']}" rpy="${rotors['front_left']['rpy']}"/>
    <xacro:klever5_propeller propeller="${propeller}" parent="${parent}" name="${prefix}propeller_front_right" xyz="${rotors['front_right']['xyz']}" rpy="${rotors['front_right']['rpy']}"/>
    <xacro:klever5_propeller propeller="${propeller}" parent="${parent}" name="${prefix}propeller_rear_left" xyz="${rotors['rear_left']['xyz']}" rpy="${rotors['rear_left']['rpy']}"/>
    <xacro:klever5_propeller propeller="${propeller}" parent="${parent}" name="${prefix}propeller_rear_right" xyz="${rotors['rear_right']['xyz']}" rpy="${rotors['rear_right']['rpy']}"/>
  </xacro:macro>
</robot>
