<?xml version="1.0"?>
<robot name="clover" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="main_camera" default="true"/>
  <xacro:arg name="rangefinder" default="true"/>
  <xacro:arg name="led" default="true"/>
  <xacro:arg name="gps" default="true"/>
  <xacro:arg name="maintain_camera_rate" default="false"/>
  <xacro:arg name="use_clover_physics" default="false"/>

  <xacro:include filename="clover4_base.xacro" />
  <xacro:include filename="../sensors/rpi_cam.urdf.xacro"/>
  <xacro:include filename="../sensors/distance_sensor.urdf.xacro"/>
  <xacro:include filename="../leds/led_strip.xacro"/>

  <!-- Create camera plugin -->
  <xacro:if value="$(arg main_camera)">
    <xacro:rpi_cam name="main_camera" parent="base_link" x="0.055" y="0.0" z="-0.03" roll="0" pitch="${pi / 2}" yaw="0" width="320" height="240" rate="40" do_throttling="$(arg maintain_camera_rate)"/>
  </xacro:if>

</robot>
